@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit, sans-serif;
}

body {
  min-height: 100vh;
  background-color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  padding: 80px 0;
}

.row {
  width: 100%;
  height: 100%;
  max-width: 1280px;
  padding: 0 12px;
  margin: 0 auto;
}

/* Navigation */

nav {
  width: 100%;
  position: relative;
  z-index: 10;
  padding: 0 24px;
}

.nav__container {
  width: 100%;
  height: 100%;
  max-width: 1280px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}

.nav__img__wrapper {
  width: 145px;
}

.nav__img {
  width: 100%;
  height: 100%;
}

.nav__img {
  width: 150px;
}

.nav__link {
  position: relative;
  padding-bottom: 5px;
  cursor: pointer;
  transition: color 0.3s;
}
.nav__link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: tomato;
  transition: width 0.3s ease;
}

.nav__link.active::after {
  width: 100%;
}

.nav__link.active {
  color: tomato;
}

.nav__links {
  display: flex;
  list-style: none;
  gap: 20px;
  color: #49557e;
  font-size: 18px;
  cursor: pointer;
}

.nav__right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.basket__wrapper {
  position: relative;
  display: inline-block;
}

.dot {
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  background-color: tomato;
  border-radius: 50%;
  bottom: 0;
  right: 0;
}

.nav__btns__sign__in {
  background: transparent;
  font-size: 16px;
  color: #49557e;
  border: 1px solid tomato;
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.nav__btns__sign__in:hover {
  background-color: #fff4f2;
}

/* Header */

header {
  min-height: 70vh;
  position: relative;
  padding: 0 24px;
  background-color: white;
  margin-top: -20px;
}

/* .header {
  height: 34vw;
  margin: 30px auto;
  background-size: contain;
  position: relative;
} */

.container__header {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 24px;
}

.header__row {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 60px;
}

.header__text {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 12px;
  max-width: 550px;
  z-index: 3;
  left: 8%;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  animation: fadeIn 1.5s ease-in forwards;
  animation-delay: 0.5s;
}

.header__text__title {
  font-size: 60px;
  font-weight: 500;
  line-height: 1.1;
  color: white;
}

.header__text__para {
  color: white;
  font-size: 16px;
  line-height: 1.6;
  margin-top: 20px;
  margin-bottom: 32px;
}

.header__text__btns {
  display: flex;
  gap: 16px;
}

.header__img__wrapper {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.header__img {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

.view__menu__btn {
  border: none;
  background-color: white;
  color: #49557e;
  cursor: pointer;
  font-weight: 500;
  border-radius: 50px;
  padding: 16px 40px;
  font-size: 16px;
  border: none;
  transition: all 0.3s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ExploreMenu */

.explore__menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 24px;
}

.explore__menu h1 {
  color: #262626;
  font-weight: 500;
}

.explore__menu__text {
  max-width: 60%;
  color: #747474;
}

.explore__menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  text-align: center;
  margin: 20px 0px;
  overflow-x: scroll;
}

.explore__menu__list::-webkit-scrollbar {
  display: none;
}

.explore__menu__list__item img {
  width: 7.5vw;
  min-width: 80px;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.2s;
}

.explore__menu__list__item p {
  margin-top: 10px;
  color: #747474;
  font-size: 16px;
  cursor: pointer;
}

.explore__menu hr{
    margin: 10px 0;
    height: 2px;
    background-color: #e2e2e2;
}

.explore__menu__list__item .active{
border: 4px solid tomato;
}