@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit, sans-serif;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  padding: 80px 0;
}

.row {
  width: 100%;
  height: 100%;
  max-width: 1280px;
  padding: 0 12px;
  margin: 0 auto;
}

/* Navigation */

nav {
  width: 100%;
  position: relative;
  z-index: 10;
  padding: 0 24px;
}

.nav__container {
  width: 100%;
  height: 100%;
  max-width: 1280px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}

.nav__img__wrapper {
  width: 145px;
}

.nav__img {
  width: 100%;
  height: 100%;
}

.nav__img {
  width: 150px;
}

.nav__link {
  position: relative;
  padding-bottom: 5px;
  cursor: pointer;
  transition: color 0.3s;
}
.nav__link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: tomato;
  transition: width 0.3s ease;
}

.nav__link.active::after {
  width: 100%;
}

.nav__link.active {
  color: tomato;
}

.nav__links {
  display: flex;
  list-style: none;
  gap: 20px;
  color: #49557e;
  font-size: 18px;
  cursor: pointer;
}

.nav__right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.basket__wrapper {
  position: relative;
  display: inline-block;
}

.dot {
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  background-color: tomato;
  border-radius: 50%;
  bottom: 0;
  right: 0;
}

.nav__btns__sign__in {
  background: transparent;
  font-size: 16px;
  color: #49557e;
  border: 1px solid tomato;
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.nav__btns__sign__in:hover {
  background-color: #fff4f2;
}

/* Media Query */

@media (max-width: 1050px) {
  .navbar .logo {
    width: 140px;
  }
  .navbar__menu {
    gap: 20px;
    font-size: 17px;
  }
  .navbar__right {
    gap: 30px;
  }
  .navbar__right img {
    width: 22px;
  }
  .navbar__right button {
    padding: 8px 25px;
  }
}

@media (max-width: 900px) {
  .navbar .logo {
    width: 120px;
  }
  .navbar__menu {
    gap: 15px;
    font-size: 16px;
  }
  .navbar__right {
    gap: 20px;
  }
  .navbar__right img {
    width: 20px;
  }
  .navbar__right button {
    padding: 7px 20px;
    font-size: 15px;
  }
}

@media (max-width: 750px) {
  .navbar__menu {
    display: none;
  }
}

/* Header */

header {
  min-height: 70vh;
  position: relative;
  padding: 0 24px;
  background-color: white;
  margin-top: -20px;
}

/* .header {
  height: 34vw;
  margin: 30px auto;
  background-size: contain;
  position: relative;
} */

.container__header {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 24px;
}

.header__row {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 60px;
}

.header__text {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 12px;
  max-width: 550px;
  z-index: 3;
  left: 8%;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  animation: fadeIn 1.5s ease-in forwards;
  animation-delay: 0.5s;
}

.header__text__title {
  font-size: 60px;
  font-weight: 500;
  line-height: 1.1;
  color: white;
}

.header__text__para {
  color: white;
  font-size: 16px;
  line-height: 1.6;
  margin-top: 20px;
  margin-bottom: 32px;
}

.header__text__btns {
  display: flex;
  gap: 16px;
}

.header__img__wrapper {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.header__img {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

.view__menu__btn {
  border: none;
  background-color: white;
  color: #49557e;
  cursor: pointer;
  font-weight: 500;
  border-radius: 50px;
  padding: 16px 40px;
  font-size: 16px;
  border: none;
  transition: all 0.3s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Media Query */
@media (max-width: 1050px) {
  .header__contents {
    max-width: 45%;
  }
}

@media (max-width: 750px) {
  .header__contents {
    max-width: 65%;
  }
  .header__contents p {
    display: none;
  }
  .header__contents button {
    padding: 2vw 4vw;
  }
}

/* ExploreMenu */

.explore__menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 24px;
}

.explore__menu h1 {
  color: #262626;
  font-weight: 500;
}

.explore__menu__text {
  max-width: 60%;
  color: #747474;
}

.explore__menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  text-align: center;
  margin: 20px 0px;
  overflow-x: scroll;
}

.explore__menu__list::-webkit-scrollbar {
  display: none;
}

.explore__menu__list__item img {
  width: 7.5vw;
  min-width: 80px;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.2s;
}

.explore__menu__list__item p {
  margin-top: 10px;
  color: #747474;
  font-size: 16px;
  cursor: pointer;
}

.explore__menu hr {
  margin: 10px 0;
  height: 2px;
  background-color: #e2e2e2;
}

.explore__menu__list__item .active {
  border: 4px solid tomato;
}

/* Media Query */
@media (max-width: 1050px) {
  .explore__menu__text {
    max-width: 100%;
    font-size: 14px;
  }
}

/* Food Display */

.food__display {
  margin-top: 30px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 24px;
}

.food__display h2 {
  font-size: 24px;
  font-weight: 600;
}

.food__display__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  margin-top: 30px;
  gap: 30px;
  row-gap: 50px;
}

/* Food Item */

.food__item {
  width: 100%;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0px 0px 10px #00000015;
  transition: 0.3s;
  animation: fadeIn 1s;
}

.food__item__image {
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}

.food__item__info {
  padding: 20px;
}

.food__item__name__rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.food__item__name__rating p {
  font-size: 20px;
  font-weight: 500;
}

.food__item__name__rating img {
  width: 70px;
}

.food__item__description {
  color: #676767;
  font-size: 12px;
  align-items: center;
}

.food__item__price {
  color: tomato;
  font-size: 22px;
  font-weight: 500;
  margin: 10px 0px;
}

.food__item__img__container {
  position: relative;
}

.food__item__img__container .add {
  width: 35px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
  border-radius: 50%;
}

.food-item-counter {
  position: absolute;
  bottom: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px;
  border-radius: 50px;
  background-color: white;
}

.food-item-counter img {
  width: 30px;
}

/* Footer */

.footer {
  color: #d9d9d9;
  background-color: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px 8vw;
  padding-top: 80px;
  margin-top: 100px;
}

.footer__content {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 80px;
}

.footer__content__left,
.footer__content__right,
.footer__content__center {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.footer__content__left li,
.footer__content__right li,
.footer__content__center li {
  list-style: none;
  margin-bottom: 10px;
  cursor: pointer;
}
.footer__content__right h2,
.footer__content__center h2 {
  color: white;
}

.footer__social__icons img {
  width: 40px;
  margin-right: 15px;
}

.footer hr {
  width: 100%;
  height: 2px;
  margin: 20px 0;
  background-color: grey;
  border: none;
}

/* Media Query */
@media (max-width: 750px) {
  .footer__content {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
  .footer__copyright {
    text-align: center;
  }
}

/* AppDownload */

.app__download {
  margin: auto auto;
  margin-top: 100px;
  font-size: max(3vw, 20px);
  text-align: center;
  font-weight: 500;
}

.app__download__platforms {
  display: flex;
  justify-content: center;
  gap: max(2vw, 10px);
  margin-top: 40px;
}

.app__download__platforms img {
  width: max(30vw, 120px);
  max-width: 180px;
  transition: 0.5s;
  cursor: pointer;
}

.app__download__platforms img:hover {
  transform: scale(1.05);
}

/* Loginpopup */

.login__popup {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
}

.login__popup__container {
  place-self: center;
  width: max(23vw, 330px);
  color: #808080;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px 30px;
  border-radius: 8px;
  font-size: 14px;
  animation: fadeIn 0.5s;
}

.login__popup__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.login__popup__title img {
  width: 16px;
  cursor: pointer;
}

.login__popup__inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login__popup__inputs input {
  outline: none;
  border: 1px solid #c9c9c9;
  padding: 10px;
  border-radius: 4px;
}

.login__popup__container button {
  border: none;
  padding: 10px;
  border-radius: 4px;
  color: white;
  background-color: tomato;
  font-size: 15px;
  cursor: pointer;
}

.login__popup__condition {
  display: flex;
  align-items: start;
  gap: 8px;
  margin-top: -15px;
}

.login__popup__condition input {
  margin-top: 5px;
}

.login__popup p span {
  color: tomato;
  font-weight: 500;
  cursor: pointer;
}

/* Cart */

.cart {
  margin-top: 100px;
  max-width: 1280px;
  padding: 0 24px;
  margin-left: auto;
  margin-right: auto;
}

.cart__items__title {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
  align-items: center;
  color: grey;
  font-size: max(1vw, 12px);
}

.cart__items__item {
  margin: 10px 0;
  color: black;
}

.cart__items__item img {
  width: 50px;
}

.cart hr {
  height: 1px;
  background-color: #e2e2e2;
  border: none;
}

.cart__items__item .cross {
  cursor: pointer;
}

.cart__bottom {
  display: flex;
  justify-content: space-between;
  gap: max(12vw, 20px);
}

.cart__total {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart__total__details {
  display: flex;
  justify-content: space-between;
  color: #555;
}

.cart__total hr {
  margin: 10px 0;
}

.cart__total button {
  border: none;
  color: white;
  background-color: tomato;
  width: max(15vw, 200px);
  padding: 12px 0px;
  border-radius: 4px;
  cursor: pointer;
}

.cart__promocode {
  flex: 1;
}

.cart__promocode p {
  color: #555;
}

.cart__promocode__input {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eaeaea;
  border-radius: 4px;
}

.cart__promocode__input input {
  background: transparent;
  border: none;
  outline: none;
  padding-left: 10px;
}

.cart__promocode__input button {
  width: max(10vw, 150px);
  padding: 12px 5px;
  background-color: black;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

/* @Media Query */

@media (max-width: 750px) {
  .cart__bottom {
    flex-direction: column-reverse;
  }
  .cart__promocode {
    justify-content: start;
  }
}

/* PlaceOrder */

.place__order {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 50px;
  margin-top: 100px;
}

.place__order__left{
    width: 100%;
    max-width: max(30%, 500px);
}

.place__order__left .title{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
}

.place__order__left input{
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    outline-color: tomato;
}

.place__order__left .multi__fields{
display: flex;
gap: 10px;
}

.place__order__right{
    width: 100%;
}

.place__order .cart__total button{
    margin-top: 30px;
}
    
